<!DOCTYPE html>
<html>
  <head>
    <title>Optima Health Tech</title>
    <link rel="stylesheet" href="features.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h1>CoreSense</h1>
        <h2>The Intelligent Health Vest</h2>
        <p>Empowering Your Health with Smart Technology</p>
        <img src="vest.png" alt="CoreSense Vest" class="vest" />
        <img src="logo2.png" alt="Optima HealthTech Logo" class="logo" />
      </div>

      <div class="right">
        <h3>Features</h3>
        <img src="writings.png" alt="CoreSense Features" class="writings" />
      </div>
    </div>
  </body>
</html>
