body {
    margin: 0;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #000000, #3432c7);

    color: white;
    overflow: hidden;

    filter: blur(0px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo-top-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -30px;

    background-color: rgba(255, 255, 255, 0);
}

.navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar nav ul li {
    margin-left: 30px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: rgb(180, 180, 180);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);

    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    z-index: 1;
}

.main-logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);

    border-radius: 5px;

}

.tagline {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.5;

}

.learn-more-button {
    background-color: black;
    color: white;
    border: 1px solid white;

    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
    background-color: white;
    color: black;
}


.circle {
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 50%;
    position: absolute;
    filter: blur(7px);
}

.circle-small {
    width: 80px;
    height: 80px;
}

.circle-medium {
    width: 120px;
    height: 120px;
}

.circle-large {
    width: 180px;
    height: 180px;
}

.circle-1 {
    top: 10%;
    left: -5%;
}

.circle-2 {
    top: 15%;
    right: 10%;
}

.circle-3 {
    bottom: 20%;
    left: 5%;
}

.circle-4 {
    bottom: 0%;
    right: 20%;
    padding-bottom: -20px;
}

.circle-5 {
    top: 60%;
    left: -10%;
}

.circle-6 {
    top: 80%;
    right: -5%;
}