body {
  background: linear-gradient(to right, #0a0a23, #3322cc);
  color: white;
  text-align: center;
}

button {
  background-color: green;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  visibility: hidden;
}

p {
  visibility: hidden;
}

ul {
  visibility: hidden;
}

.box {
  background: linear-gradient(to top, #0a0a23, #3322cc);
  position: absolute;
  height: 170px;
  width: 220px;
  z-index: -1;
  margin-left: 800px;
  margin-top: 100px;
  cursor: default;
  border-radius: 5px;
}

.box:hover {
  height: 400px;
}

.box:hover ul,
.box:hover p,
.box:hover button {
  visibility: visible;
}

.circle {
  position: fixed;
  background-color: white;
  border-radius: 50%;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}
